@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #004725;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.how-it-works-bg{
  background-image: url(../_assets/pngs//how-it-works-bg.png);
}

@media (max-width: 768px) {
  .how-it-works-bg{
    background-image: url(../_assets/pngs/how-it-works-mobile-bg.png);
  }
}

html {
  scroll-behavior: smooth;
}
